.know-more {
  height: 676px;
  background: var(--white-background);
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1170px;
  margin: 0 auto;
}

.know-more__content {
  display: flex;
  flex-direction: column;
  width: 43%;
  margin-top: 178px;
}

.know-more__separator {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 60px;
  height: 4px;
  background: var(--content-titles-color_grey);
  margin-left: 2px;
}

.know-more__main-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 10px;
  width: 70%;
  font-family: "Asap Bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 46px;
  color: var(--content-titles-color_grey);
}

.know-more__sub-title {
  font-family: "Asap Regular", sans-serif;
  font-size: 16px;
  line-height: 25px;
  color: var(--main-color_dark-grey);
}

.know-more__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 245px;
  height: 50px;
  margin-top: 35px;
  cursor: pointer;
  background: transparent;
  border: 1px solid var(--main-color_dark-grey);
  font-family: "Asap Medium", sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;
  color: var(--main-color_dark-grey);
  text-decoration: none;

}

.know-more__btn:hover {
  border: transparent;
  background: var(--white-background);
  box-shadow: 0 18px 29px 8px rgba(0,0,0,0.1);
}

.know-more__photo {
  margin-top: 109px;
  width: 570px;
  height: 445px;
}


