<div class="portfolio" id="portfolio">
  <div class="wrapper">
    <div class="portfolio__content">
      <span class="portfolio__separator"></span>
      <h2 class="portfolio__title">portfolio</h2>
      <div class="portfolio__main">
        <a class="portfolio__item" href="javascript:;"><img class="portfolio__photo" src="../../assets/img/hello.png" alt="hello"></a>
        <a class="portfolio__item" href="javascript:;"><img class="portfolio__photo" src="../../assets/img/wanaka.png" alt="wanaka"></a>
        <a class="portfolio__item" href="javascript:;"><img class="portfolio__photo" src="../../assets/img/perfomance.png" alt="perfomance"></a>
        <a class="portfolio__item" href="javascript:;"><img class="portfolio__photo" src="../../assets/img/your-music.png" alt="your-music"></a>
        <a class="portfolio__item" href="javascript:;"><img class="portfolio__photo" src="../../assets/img/build.png" alt="build"></a>
        <a class="portfolio__item" href="javascript:;"><img class="portfolio__photo" src="../../assets/img/make.png" alt="make"></a>
      </div>
      <button class="portfolio__btn">load more</button>
    </div>
  </div>
</div>
