.services {
  height: 692px;
  background: var(--grey-background);
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1170px;
  margin: 0 auto;
}

.services__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.services__separator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  width: 60px;
  height: 4px;
  background: var(--content-titles-color_grey);
}

.services__title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  font-family: "Asap Bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 46px;
  color: var(--content-titles-color_grey);
}

.services__main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.services__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
  margin-top: 70px;
  opacity: 0;
  transition-duration: 2s;
  transform: rotateY(-90deg);
}

.services__item--animated {
  opacity: 1;
  transform: rotateY(0deg);
}

.services__item-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  width: 60%;
  margin-top: 17px;
  font-family: "Asap Medium", sans-serif;
  color: var(--main-color_dark-grey);
  font-size: 24px;
  font-weight: bold;
}
